#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}
.App {
  background-color: #121212 !important; 
  color: #e0e0e0 !important; 
  min-height: 100vh;
  padding: 20px;
 
}
body {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}



.custom-hover:hover {
  background-color: #7b7878 !important; 
  color: rgb(3, 3, 3);
}
.card {
  background-color: #1f1f1f; 
  color: #eee; 
  border: none;
  padding: 2em;
}

.btn-dark.custom-hover {
  background-color: #1e88e5 !important; 
  border: none !important;
  transition: background-color 0.3s ease;
}

.btn-dark.custom-hover:hover {
  background-color: #1565c0 !important;
}

.btn-outline-secondary {
  border-color: #fff;
  color: #fff; 
}


.btn-outline-secondary:disabled {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #fff !important;
  cursor: not-allowed;
}


.text-muted {
  color: #fff !important;
}


.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
